body{
    background-color: #ffa500;
    font-family: "Ubuntu Sans", sans-serif;
    align-items: center;
}
img{
    margin-right: auto;
    margin-left:auto;
    display: block;
    padding: 20px auto;
}
h1{
    text-align: center;
    font-size: 44px;
    background-color: #0070FF;
}
a{
    color:#d8748f;
}
.container{
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 20px auto
}
.div{
    flex: 2;
    
    margin: 60px;
}

p{
    font-weight: bold;
}