body{
    background-color: #a52a2a;
    font-family: "Ubuntu Sans", sans-serif;
    align-items: center;
}
img{
    margin-right: auto;
    margin-left:auto;
    display: block;
}
h1{
    text-align: center;
    font-size: 44px;
    background-color: #29A64D;
}
a{
    color:#d8748f;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 20px auto
}
.div{
    flex: 1;
    
    margin: 60px;
}

p{
    font-weight: bold;
}