body{
    background-color: #a52a2a;
    font-family: "Ubuntu Sans", sans-serif;
    align-items: center;
}
img{
    margin-right: auto;
    margin-left:auto;
    display: block;
}

.recipe{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.ingredients{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.steps{
    flex-direction: column;
    align-self:flex-start;
}

h1{
    padding: 20px;
    text-align: center;
    font-size: 44px;
    background-color: #29A64D;
}
a{
    color:#d8748f;
    display: block;
    padding: 20px;
}
h3{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
}

p{
    font-weight: bold;
}