body{
    background-color: #ffff00;
    font-family: "Ubuntu Sans", sans-serif;
    align-items: center;
}
img{
    margin-right: auto;
    margin-left:auto;
    display: block;
}
h1{
    text-align: center;
    font-size: 44px;
    background-color: #7D00FF;
}
a{
    display: block;
    color:#d8748f;
    padding: 100px;
}
h3{
    text-align: center;
}
.container{
    display: inline-flex;
    padding: 5px;
    margin: 20px auto
}
.div{
    display: inline-flex;
    margin: 60px;
}

p{
    font-weight: bold;
}