body{
    columns: 2;
    background-color: #ffff00;
    font-family: "Ubuntu Sans", sans-serif;
    align-items: center;
}
img{
    margin-right: auto;
    margin-left:auto;
    display: block;
}
h1{
    text-align: center;
    font-size: 44px;
    background-color: #7D00FF;
}
a{
    color:#d8748f;
}
